/*
	Developed by Anthony Belyaev
*/

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: #000;
	font-family: HelveticaNeue;
}

a,
a:hover {
	text-decoration: none;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

a {
	font-family: HelveticaNeue;
	font-size: 12px;
	color: #9FA1A8;
	line-height: 14px;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	
	/*background-image: -o-linear-gradient(-89deg, rgba(211,211,215,0.53) 0%, rgba(0,0,0,0.00) 100%);
	background-image: -moz-linear-gradient(-89deg, rgba(211,211,215,0.53) 0%, rgba(0,0,0,0.00) 100%);
	background-image: -ms-linear-gradient(-89deg, rgba(211,211,215,0.53) 0%, rgba(0,0,0,0.00) 100%);
	background-image: linear-gradient(-179deg, rgba(211,211,215,0.53) 0%, rgba(0,0,0,0.00) 100%);
	background-size: cover;
	*/
	z-index: -1;
}

ul {
	list-style: none;
}

ul li {
	margin: 19px 0 0 0;
	padding: 0 0 19px 0;
}

ul li:first-child {
	margin-top: 0;
}

ul li:last-child {
	margin-bottom: 0;
}

input {
	width: 100%;
	height: 31px;
	margin-top: 11px;
	border-radius: 4px;
	background: #FFFFFF;
	border: 1px solid #979797;
	text-indent: 10px;
}

input.error {
	background-color: rgba(255, 0, 0, 0.12);
	border: 1px solid #ff0000;
}

.debug {
	border: 1px dashed #ff0000;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrap {
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	
	height: 100%;
	font-size: 0.001px;
	text-align: center;
}

.wrap:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dialog {
	display: inline-block;
	width: 380px;
	max-width: 100%;
	
	font-size: 1rem;
	
	vertical-align: middle;
	padding-bottom: 50px;
}

.dialog h1 {
	margin-top: 24px;
	text-align: center;
	font-family: HelveticaNeue-Medium;
	font-size: 20px;
	/*color: #676A73;
	*/
	color: #86754D;
	line-height: 25px;
}

.panel {
	padding: 19px 16px;
	margin: 24px 0;
	border-radius: 6px;
	background: #FFFFFF;
	border: 1px solid #C4C4C6;
	-moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.12);
	box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.12);
}

.panel ul {
	margin: 0;
	padding: 0;
}


.panel ul li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #979797;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.23s ease-out;
	transition: all .23s ease-out;
}

.panel ul li.hide {
	display: none;
	opacity: 0;
}

.panel ul li .input {
	display: none;
}

.panel ul li.show .right {
	display: none;
}

.panel ul li.show .input {
	display: block;
	width: 76%;
	float: right;
}

.panel ul li.show {
	border-bottom: none;
	padding-bottom: 0;
	margin: 0;
}

.panel ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.panel ul li .right {
	display: block;
	width: 76%;
}

.panel ul li .right h3 {
	font-family: HelveticaNeue-Medium;
	font-size: 12px;
	color: #5B5C62;
	line-height: 13px;
	text-align: left;
	margin: 0;
}

.panel ul li .right p {
	font-family: HelveticaNeue-Light;
	font-size: 12px;
	color: #9EA1A8;
	line-height: 15px;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
}

.panel ul.conditions {
	display: block;
	font-size: 12px;
	text-align: left;
}

.panel ul.conditions.hide {
	display: none;
}

.panel ul.list.hide {
	display: none;
}
	
.button-content {
	width: 100%;
	margin: 15px 0 25px 0;
}	

.button-content.hide {
	display: none;
	opacity: 0;
}

.button {
	text-align: center;
	padding: 13px 15px;
	font-family: HelveticaNeue-Medium;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 15px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.50);
	border-radius: 4px;
	background-image: -o-linear-gradient(-89deg, #85B74C 0%, #69A61E 100%);
	background-image: -moz-linear-gradient(-89deg, #85B74C 0%, #69A61E 100%);
	background-image: -ms-linear-gradient(-89deg, #85B74C 0%, #69A61E 100%);
	background-image: linear-gradient(-179deg, #85B74C 0%, #69A61E 100%);
	-moz-box-shadow:    0px 1px 0px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 0px 0px rgba(0,0,0,0.50);
}

.button:hover {
	background-image: -o-linear-gradient(-89deg, #85B74C 100%, #69A61E 0%);
	background-image: -moz-linear-gradient(-89deg, #85B74C 100%, #69A61E 0%);
	background-image: -ms-linear-gradient(-89deg, #85B74C 100%, #69A61E 0%);
	background-image: linear-gradient(-179deg, #85B74C 100%, #69A61E 0%);
	-moz-box-shadow:    0px 1px 0px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 0px 0px rgba(0,0,0,0.50);
}

.button.mute {
	font-family: HelveticaNeue-Medium;
	font-size: 12px;
	/*color: #000000;
	*/
	color: #9FA1A8;
	line-height: 15px;
	border-radius: 4px;
	text-shadow: none;
	background-image:none;
	box-shadow:0px 0px 0px transparent;
}

a.condition-back,
a.condition {
	display: block;
}

a.condition-back.hide,
a.condition.hide {
	display: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}